body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.animalAttr{
  background-color: aquamarine;
  width: 120px;
}
.col-sm-3{
  color: darkgray;
} 
.col-sm-9{
  color: sandybrown;
}
#name{
  width: 35%;
}
#type{
  width: 35%;
}
#color{
  width: 35%;
}